@import url('https://fonts.googleapis.com/css2?family=IM+Fell+French+Canon:ital@0;1&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Old+Standard+TT:ital,wght@0,400;0,700;1,400&family=Overpass:ital,wght@0,600;0,700;0,800;0,900;1,600;1,700;1,800;1,900&family=Rubik:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&display=swap');

/* Available fonts:
-Logo and Website Headers-
Overpass: 

-Page headers and section titles-
Old Standard TT: 
Libre Baskerville:
IM Fell French Canon: 

-Body text-
Rubik:
*/
    

body {
    background-image:url("pics/0homepage.png");
}

.main-title{
    color: #FF6A3D;
    font-family: 'Overpass', sans-serif;
    font-size: 80px;
    font-weight: 800;
    font-style: normal;
    text-align: center;

    background-image: url("pics/0welcome.png");
}

.header-box {
    background-color: #1A2238 ;
    border-style: solid;
    border-color:  #9DAAF2 ;
    border-width: 10px;
    padding: 10px;
    margin: 0px 100px 50px 100px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    width: auto;
    height: auto;
}

.navbar-box{
    color: black;
    font-family: 'Baskerville', serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    text-align: center;
  
    background-color: #1A2238;
    border-style: solid;
    border-color:#9DAAF2;
    border-width: 5px;
    padding: 20px;
    margin: 25px 100px 25px 100px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.navbar{
    list-style:none;
    margin:0;
    padding:0;
    text-align:center;
}

.navbar li{
    display: inline;
}

.navbar a:link{
    display:inline-block;
    padding:10px;
    color: #FF6A3D;
    text-decoration:none;
}

.navbar a:visited{
    display:inline-block;
    padding:10px;
    color: #FF6A3D;
    text-decoration:none;
}

.navbar a:hover{
    display:inline-block;
    padding:10px;
    color:white;
    text-decoration:none;
}

.navbar a:active{
    display:inline-block;
    padding:10px;
    color: #FF6A3D;
    text-decoration:none;
}


.content{
    color: white;
    font-family: 'Rubik', sans-serif;
    font-size: 20px;
    text-align: center;
    background-color: #1A2238;
    border-style: solid;
    border-color: #9DAAF2;
    border-width: 10px;
    padding: 20px;
    margin: 50px 100px 50px 100px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}





.center{
    display: block;
    margin-left: auto;
    margin-right:auto;
    width:20%;
}



/* February 28, 2022*/

#side-footer{
    float:left;
    width:30%;
    padding:15px;
    box-sizing: border-box;
}

#main-footer{
    float:left;
    width:70%;
    padding:15px;
    box-sizing: border-box;
   

}


/* March 1, 2022* 23:13*/

.logo{
    width: 125px;
    height: 125px;
}

/* January 19, 2023 
Removed each page's css page, removed registration tab, I plan to make this the uniform design for the whole project.
*/